// Common colours
$dark: #2c2b2b;
$light: #ccd0d1;
$font-family: "Karla, sans-serif";

// Custom vendor prefix mixin
@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// Use translation to center vertically or horizontally
@mixin center($XorY, $position, $transforms: "") {
    position: #{$position};

    @if $XorY == X {
        left: 50%;
    } @else {
        top: 50%;
    }

    // Apply translation using the custom prefix mixin
    @include prefix("transform", "translate#{$XorY}(-50%) #{$transforms}");
}

* {
  margin: 0;
  padding: 0;

  // Make the text a little more legible
  @include prefix("font-smoothing", "antialiased");
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: $dark url(../images/bg-dark.png);
  background-size: cover;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.v-center {
    @include center("Y", "relative");
}

.h-center {
    @include center("X", "relative");
}

.center {
  @extend .v-center;
  @extend .h-center;
}

::selection {
  background: $light;
  color: $dark;
}

.main-content {
  position: absolute;
  top: 32%;
  left: 100px;
  max-width: 550px;

  .name,
  .desc {
    font-family: #{$font-family};
    color: $light;
  }

  .name {
    font-size: 36px;
    position: relative;

    @include prefix("animation", "CfadeIn 0.5s");
  }

  .desc {
    font-size: 18px;
    margin-top: 14px;
    line-height: 26px;
    position: relative;

    @include prefix("animation", "CfadeIn 0.9s");
  }
}

ul.socials {
  position: absolute;
  left: 100px;
  bottom: 100px;
  list-style: none;

  li {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 8px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0px;
    }

    $links: dribbble github twitter linkedin flickr email;
    $count: 1;

    @each $link in $links {
      $count: $count + 1;

      a.#{$link} {
        width: 24px;
        height: 24px;
        display: block;
        background: url(../images/#{$link}-light.svg) no-repeat;
        background-size: 24px 24px;
        position: relative;
        padding-bottom: 10px;

        @include prefix("animation", "SfadeIn #{$count/7}s");
        @include prefix("transition", "all 0.15s cubic-bezier(0, 1, 1, 2)");

        &:hover {
          margin-top: -8px;
          padding-bottom: 20px;
        }
      }
    }
  }
}

.blur {
  width: 150px;
  height: 150px;
  position: absolute;
  background: $dark url(../images/bg-dark-blur.png);
  background-attachment: fixed;
  background-size: cover;

  @include prefix("border-radius", "75px");
}

body.light {
  ::selection {
    background: $dark;
    color: $light;
  }

  background: $light url(../images/bg-light.png);
  background-size: cover;

  .name,
  .desc { color: $dark; }

  $links: github dribbble linkedin flickr email twitter;

  @each $link in $links {
    a.#{$link} {
      background-image: url(../images/#{$link}-dark.svg) !important;
    }
  }

  .blur {
    background: $light url(../images/bg-light-blur.png) !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }
}

@media screen and (max-width: 720px) {
  .blur {
    display: none;
  }

  .main-content {
    width: 85%;
    top: 22%;

    @include center("X", "absolute");
  }

  ul.socials {
    width: 100%;
    bottom: 40px;
    text-align: center;

    li {
      float: none;
    }
  }
}

@-webkit-keyframes CfadeIn {
  from { left: -40px; opacity: 0; }
  to { left: 0px; opacity: 1; }
}

@-moz-keyframes CfadeIn {
  from { left: -40px; opacity: 0; }
  to { left: 0px; opacity: 1; }
}

@keyframes CfadeIn {
  from { left: -40px; opacity: 0; }
  to { left: 0px; opacity: 1; }
}

@-webkit-keyframes SfadeIn {
  from { bottom: -40px; opacity: 0; }
  to { bottom: 0px; opacity: 1; }
}

@-moz-keyframes SfadeIn {
  from { bottom: -40px; opacity: 0; }
  to { bottom: 0px; opacity: 1; }
}

@keyframes SfadeIn {
  from { bottom: -40px; opacity: 0; }
  to { bottom: 0px; opacity: 1; }
}

/* dat sass tho */
