// Common colours
$dark: #17191b;
$light: #faf5f2;

// Custom vendor prefix mixin
@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// Use translation to center vertically or horizontally
@mixin center($XorY, $position, $transforms: "") {
    position: #{$position};

    @if $XorY == X {
        left: 50%;
    } @else {
        top: 50%;
    }

    // Apply translation using the custom prefix mixin
    @include prefix("transform", "translate#{$XorY}(-50%) #{$transforms}");
}

* {
  margin: 0;
  padding: 0;

  @include prefix("box-sizing", "border-box");

  // Make the text a little more legible
  @include prefix("font-smoothing", "optimizelegibilty");
}

$columns: 12;
$col-width: 54;
$gut-width: 32;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: #{$i * $col-width + $gut-width * ($i - 1)}px;
  }
}

[class*="col-"] {
  display: inline;
  float: left;

  &.right {
    float: right;
    right: 0;
  }

  &.left  {
    float: left;
    left: 0;
  }
}

.row {
  width: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto;

  [class*="col-"]:first-child {
    margin-left: 0;
  }

  [class*="col-"]:last-child {
    margin-right: 0;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: $light;
  border: 10px solid $dark;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $dark;
  }
}

.clearfix:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.v-center {
    @include center("Y", "relative")
}

.h-center {
    @include center("X", "relative")
}

::selection {
  background: $dark;
  color: #efedef;
}

#hero {
  width: 100%;
  height: 100%;

  .col-12 {
    @extend .v-center;

    @include prefix("animation", "fadeIn 2s");
    @include prefix("transform", "translateZ(0%)");
  }

  .name {
    text-align: center;
    font: 36px 'IM Fell English', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
  }

  .role {
    text-align: center;
    font: 18px 'IM Fell English', serif;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }
}

.socials {
  position: absolute;
  width: 100%;
  bottom: 30px;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    padding: 0 8px;
    font: 16px 'IM Fell English', serif;
    letter-spacing: 1px;
    color: $dark;
    text-align: center;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.dark {
  background: #17191b;
  border: 10px solid $light;

  a:hover {
    border-bottom: 1px solid $light;
  }

  ::selection { background: $light; color: $dark; }

  .col-12 { opacity: 0.8; color: $light; }

  [class*="icon-"] {
    background-repeat: no-repeat !important;
    background-size: 100% !important;
  }

  .socials li {
    color: $light;
  }
}

@media screen and (max-width: 999px) {
  * {
    text-align: left !important;
  }

  body {
    border: none;
  }
  .row {
    width: 100%;
    padding-left: 30px;
  }

  .col-12 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #hero .name {
    font-size: 27px;
  }
}
