* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: optimizelegibilty;
  -moz-font-smoothing: optimizelegibilty;
  -o-font-smoothing: optimizelegibilty;
  font-smoothing: optimizelegibilty; }

.col-1 {
  width: 54px; }

.col-2 {
  width: 140px; }

.col-3 {
  width: 226px; }

.col-4 {
  width: 312px; }

.col-5 {
  width: 398px; }

.col-6 {
  width: 484px; }

.col-7 {
  width: 570px; }

.col-8 {
  width: 656px; }

.col-9 {
  width: 742px; }

.col-10 {
  width: 828px; }

.col-11 {
  width: 914px; }

.col-12 {
  width: 1000px; }

[class*="col-"] {
  display: inline;
  float: left; }
  [class*="col-"].right {
    float: right;
    right: 0; }
  [class*="col-"].left {
    float: left;
    left: 0; }

.row {
  width: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto; }
  .row [class*="col-"]:first-child {
    margin-left: 0; }
  .row [class*="col-"]:last-child {
    margin-right: 0; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background: #faf5f2;
  border: 10px solid #17191b;
  overflow: hidden; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #17191b; }

.clearfix:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden; }

.v-center, #hero .col-12 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) ;
  -moz-transform: translateY(-50%) ;
  -o-transform: translateY(-50%) ;
  transform: translateY(-50%) ; }

.h-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) ;
  -moz-transform: translateX(-50%) ;
  -o-transform: translateX(-50%) ;
  transform: translateX(-50%) ; }

::selection {
  background: #17191b;
  color: #efedef; }

#hero {
  width: 100%;
  height: 100%; }
  #hero .col-12 {
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    animation: fadeIn 2s;
    -webkit-transform: translateZ(0%);
    -moz-transform: translateZ(0%);
    -o-transform: translateZ(0%);
    transform: translateZ(0%); }
  #hero .name {
    text-align: center;
    font: 36px 'IM Fell English', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700; }
  #hero .role {
    text-align: center;
    font: 18px 'IM Fell English', serif;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700; }

.socials {
  position: absolute;
  width: 100%;
  bottom: 30px;
  list-style: none;
  text-align: center; }
  .socials li {
    display: inline-block;
    padding: 0 8px;
    font: 16px 'IM Fell English', serif;
    letter-spacing: 1px;
    color: #17191b;
    text-align: center; }
    .socials li:first-of-type {
      margin-left: 0; }
    .socials li:last-of-type {
      margin-right: 0; }

.dark {
  background: #17191b;
  border: 10px solid #faf5f2; }
  .dark a:hover {
    border-bottom: 1px solid #faf5f2; }
  .dark ::selection {
    background: #faf5f2;
    color: #17191b; }
  .dark .col-12 {
    opacity: 0.8;
    color: #faf5f2; }
  .dark [class*="icon-"] {
    background-repeat: no-repeat !important;
    background-size: 100% !important; }
  .dark .socials li {
    color: #faf5f2; }

@media screen and (max-width: 999px) {
  * {
    text-align: left !important; }

  #hero, .socials {
    padding-left: 30px; }

  body {
    border: none !important; }

  .row {
    width: 100%; }

  .col-12 {
    width: 100%; } }
@media screen and (max-width: 768px) {
  #hero .name {
    font-size: 27px; } }
