* {
  margin: 0;
  padding: 0;
  *outline: 1px dashed black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: optimizelegibilty;
  -moz-font-smoothing: optimizelegibilty;
  -o-font-smoothing: optimizelegibilty;
  font-smoothing: optimizelegibilty; }

.col-1 {
  width: 54px; }

.col-2 {
  width: 140px; }

.col-3 {
  width: 226px; }

.col-4 {
  width: 312px; }

.col-5 {
  width: 398px; }

.col-6 {
  width: 484px; }

.col-7 {
  width: 570px; }

.col-8 {
  width: 656px; }

.col-9 {
  width: 742px; }

.col-10 {
  width: 828px; }

.col-11 {
  width: 914px; }

.col-12 {
  width: 1000px; }

[class*="col-"] {
  margin: 16px 16px;
  display: inline;
  float: left; }
  [class*="col-"].right {
    float: right;
    right: 0; }
  [class*="col-"].left {
    float: left;
    left: 0; }

.row {
  width: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto; }
  .row [class*="col-"]:first-child {
    margin-left: 0; }
  .row [class*="col-"]:last-child {
    margin-right: 0; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background: #fff;
  overflow: hidden; }

.clearfix:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden; }

.v-center, #hero .col-12 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) ;
  -moz-transform: translateY(-50%) ;
  -o-transform: translateY(-50%) ;
  transform: translateY(-50%) ; }

.h-center, #hero .socials {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) ;
  -moz-transform: translateX(-50%) ;
  -o-transform: translateX(-50%) ;
  transform: translateX(-50%) ; }

::selection {
  background: #000;
  color: #efedef; }

#hero {
  width: 100%;
  height: 100%; }
  #hero .hero-image {
    width: 2560px;
    height: 1709px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), white), url(../images/lake.jpg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  #hero .col-12 {
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    animation: fadeIn 2s;
    -webkit-transform: translateZ(0%);
    -moz-transform: translateZ(0%);
    -o-transform: translateZ(0%);
    transform: translateZ(0%); }
  #hero .name {
    text-align: center;
    font: 36px "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700; }
  #hero .role {
    text-align: center;
    font: 18px "Montserrat", sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700; }
  #hero .socials {
    list-style: none;
    margin-top: 50px;
    display: block;
    float: left; }
    #hero .socials li {
      display: inline-block;
      margin: 0 8px; }
      #hero .socials li:first-of-type {
        margin-left: 0; }
      #hero .socials li:last-of-type {
        margin-right: 0; }
      #hero .socials li [class*="icon-"] {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat !important;
        background-size: 100% !important; }
      #hero .socials li .icon-dribbble {
        background: url(../images/dribbble.svg); }
      #hero .socials li .icon-github {
        background: url(../images/github.svg); }
      #hero .socials li .icon-linkedin {
        background: url(../images/linkedin.svg); }
      #hero .socials li .icon-twitter {
        background: url(../images/twitter.svg); }
      #hero .socials li .icon-flickr {
        background: url(../images/flickr.svg); }

.dark {
  background: #000; }
  .dark ::selection {
    background: #fff;
    color: #000; }
  .dark #hero .hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.85), black), url(../images/lake.jpg); }
  .dark .col-12 {
    opacity: 0.8;
    color: #fff; }
  .dark [class*="icon-"] {
    background-repeat: no-repeat !important;
    background-size: 100% !important; }
  .dark .socials .icon-dribbble {
    background-image: url(../images/dribbble-light.svg) !important;
    background-position: 50% 50% !important; }
  .dark .socials .icon-github {
    background-image: url(../images/github-light.svg) !important;
    background-position: 50% 50% !important; }
  .dark .socials .icon-linkedin {
    background-image: url(../images/linkedin-light.svg) !important;
    background-position: 50% 50% !important; }
  .dark .socials .icon-twitter {
    background-image: url(../images/twitter-light.svg) !important;
    background-position: 50% 50% !important; }
  .dark .socials .icon-flickr {
    background-image: url(../images/flickr-light.svg) !important;
    background-position: 50% 50% !important; }

@media screen and (max-width: 999px) {
  .row {
    width: 80%; }

  .col-12 {
    width: 100%; } }
