* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background: #2c2b2b url(../images/bg-dark.png);
  background-size: cover;
  overflow: hidden; }

a {
  color: inherit;
  text-decoration: none; }

.clearfix:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden; }

.v-center, .center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) ;
  -moz-transform: translateY(-50%) ;
  -o-transform: translateY(-50%) ;
  transform: translateY(-50%) ; }

.h-center, .center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) ;
  -moz-transform: translateX(-50%) ;
  -o-transform: translateX(-50%) ;
  transform: translateX(-50%) ; }

::selection {
  background: #ccd0d1;
  color: #2c2b2b; }

.main-content {
  position: absolute;
  top: 32%;
  left: 100px;
  max-width: 550px; }
  .main-content .name,
  .main-content .desc {
    font-family: Karla, sans-serif;
    color: #ccd0d1; }
  .main-content .name {
    font-size: 36px;
    position: relative;
    -webkit-animation: CfadeIn 0.5s;
    -moz-animation: CfadeIn 0.5s;
    -o-animation: CfadeIn 0.5s;
    animation: CfadeIn 0.5s; }
  .main-content .desc {
    font-size: 18px;
    margin-top: 14px;
    line-height: 26px;
    position: relative;
    -webkit-animation: CfadeIn 0.9s;
    -moz-animation: CfadeIn 0.9s;
    -o-animation: CfadeIn 0.9s;
    animation: CfadeIn 0.9s; }

ul.socials {
  position: absolute;
  left: 100px;
  bottom: 100px;
  list-style: none; }
  ul.socials li {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 8px; }
    ul.socials li:first-of-type {
      margin-left: 0; }
    ul.socials li:last-of-type {
      margin-right: 0px; }
    ul.socials li a.dribbble {
      width: 24px;
      height: 24px;
      display: block;
      background: url(../images/dribbble-light.svg) no-repeat;
      background-size: 24px 24px;
      position: relative;
      padding-bottom: 10px;
      -webkit-animation: SfadeIn 0.28571s;
      -moz-animation: SfadeIn 0.28571s;
      -o-animation: SfadeIn 0.28571s;
      animation: SfadeIn 0.28571s;
      -webkit-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -moz-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -o-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      transition: all 0.15s cubic-bezier(0, 1, 1, 2); }
      ul.socials li a.dribbble:hover {
        margin-top: -8px;
        padding-bottom: 20px; }
    ul.socials li a.github {
      width: 24px;
      height: 24px;
      display: block;
      background: url(../images/github-light.svg) no-repeat;
      background-size: 24px 24px;
      position: relative;
      padding-bottom: 10px;
      -webkit-animation: SfadeIn 0.42857s;
      -moz-animation: SfadeIn 0.42857s;
      -o-animation: SfadeIn 0.42857s;
      animation: SfadeIn 0.42857s;
      -webkit-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -moz-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -o-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      transition: all 0.15s cubic-bezier(0, 1, 1, 2); }
      ul.socials li a.github:hover {
        margin-top: -8px;
        padding-bottom: 20px; }
    ul.socials li a.twitter {
      width: 24px;
      height: 24px;
      display: block;
      background: url(../images/twitter-light.svg) no-repeat;
      background-size: 24px 24px;
      position: relative;
      padding-bottom: 10px;
      -webkit-animation: SfadeIn 0.57143s;
      -moz-animation: SfadeIn 0.57143s;
      -o-animation: SfadeIn 0.57143s;
      animation: SfadeIn 0.57143s;
      -webkit-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -moz-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -o-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      transition: all 0.15s cubic-bezier(0, 1, 1, 2); }
      ul.socials li a.twitter:hover {
        margin-top: -8px;
        padding-bottom: 20px; }
    ul.socials li a.linkedin {
      width: 24px;
      height: 24px;
      display: block;
      background: url(../images/linkedin-light.svg) no-repeat;
      background-size: 24px 24px;
      position: relative;
      padding-bottom: 10px;
      -webkit-animation: SfadeIn 0.71429s;
      -moz-animation: SfadeIn 0.71429s;
      -o-animation: SfadeIn 0.71429s;
      animation: SfadeIn 0.71429s;
      -webkit-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -moz-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -o-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      transition: all 0.15s cubic-bezier(0, 1, 1, 2); }
      ul.socials li a.linkedin:hover {
        margin-top: -8px;
        padding-bottom: 20px; }
    ul.socials li a.flickr {
      width: 24px;
      height: 24px;
      display: block;
      background: url(../images/flickr-light.svg) no-repeat;
      background-size: 24px 24px;
      position: relative;
      padding-bottom: 10px;
      -webkit-animation: SfadeIn 0.85714s;
      -moz-animation: SfadeIn 0.85714s;
      -o-animation: SfadeIn 0.85714s;
      animation: SfadeIn 0.85714s;
      -webkit-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -moz-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -o-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      transition: all 0.15s cubic-bezier(0, 1, 1, 2); }
      ul.socials li a.flickr:hover {
        margin-top: -8px;
        padding-bottom: 20px; }
    ul.socials li a.email {
      width: 24px;
      height: 24px;
      display: block;
      background: url(../images/email-light.svg) no-repeat;
      background-size: 24px 24px;
      position: relative;
      padding-bottom: 10px;
      -webkit-animation: SfadeIn 1s;
      -moz-animation: SfadeIn 1s;
      -o-animation: SfadeIn 1s;
      animation: SfadeIn 1s;
      -webkit-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -moz-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      -o-transition: all 0.15s cubic-bezier(0, 1, 1, 2);
      transition: all 0.15s cubic-bezier(0, 1, 1, 2); }
      ul.socials li a.email:hover {
        margin-top: -8px;
        padding-bottom: 20px; }

.blur {
  width: 150px;
  height: 150px;
  position: absolute;
  background: #2c2b2b url(../images/bg-dark-blur.png);
  background-attachment: fixed;
  background-size: cover;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px; }

body.light {
  background: #ccd0d1 url(../images/bg-light.png);
  background-size: cover; }
  body.light ::selection {
    background: #2c2b2b;
    color: #ccd0d1; }
  body.light .name,
  body.light .desc {
    color: #2c2b2b; }
  body.light a.github {
    background-image: url(../images/github-dark.svg) !important; }
  body.light a.dribbble {
    background-image: url(../images/dribbble-dark.svg) !important; }
  body.light a.linkedin {
    background-image: url(../images/linkedin-dark.svg) !important; }
  body.light a.flickr {
    background-image: url(../images/flickr-dark.svg) !important; }
  body.light a.email {
    background-image: url(../images/email-dark.svg) !important; }
  body.light a.twitter {
    background-image: url(../images/twitter-dark.svg) !important; }
  body.light .blur {
    background: #ccd0d1 url(../images/bg-light-blur.png) !important;
    background-attachment: fixed !important;
    background-size: cover !important; }

@media screen and (max-width: 720px) {
  .blur {
    display: none; }

  .main-content {
    width: 85%;
    top: 22%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) ;
    -moz-transform: translateX(-50%) ;
    -o-transform: translateX(-50%) ;
    transform: translateX(-50%) ; }

  ul.socials {
    width: 100%;
    bottom: 40px;
    text-align: center; }
    ul.socials li {
      float: none; } }
@-webkit-keyframes CfadeIn {
  from {
    left: -40px;
    opacity: 0; }

  to {
    left: 0px;
    opacity: 1; } }

@-moz-keyframes CfadeIn {
  from {
    left: -40px;
    opacity: 0; }

  to {
    left: 0px;
    opacity: 1; } }

@keyframes CfadeIn {
  from {
    left: -40px;
    opacity: 0; }

  to {
    left: 0px;
    opacity: 1; } }

@-webkit-keyframes SfadeIn {
  from {
    bottom: -40px;
    opacity: 0; }

  to {
    bottom: 0px;
    opacity: 1; } }

@-moz-keyframes SfadeIn {
  from {
    bottom: -40px;
    opacity: 0; }

  to {
    bottom: 0px;
    opacity: 1; } }

@keyframes SfadeIn {
  from {
    bottom: -40px;
    opacity: 0; }

  to {
    bottom: 0px;
    opacity: 1; } }

/* dat sass tho */
